.careers-single {
    .gform_fields {
        legend {
            display: none;
        }

        .ginput_container_fileupload {
            margin-bottom: 1rem;

            .gform_fileupload_rules {
                font-size: 0.75rem;
            }
        }
    }
}
