.jobs {
    .job-posting {
        border-bottom: 1px solid #dee2e6 !important;
    }

    article {
        &:last-child {
            .job-posting {
                border-bottom: 0 !important;
            }
        }
    }
}

.careers-single {
    .gform_fields {
        legend {
            display: none;
        }

        .ginput_container_fileupload {
            margin-bottom: 1rem;

            .gform_fileupload_rules {
                font-size: 0.75rem;
            }
        }
    }
}
