.home-hero {
    .hero-text {
        p {
            a {
                color: $white;
            }
        }
        @include media-breakpoint-up(lg) {
            h1 {
                font-size: 4rem;
            }
        }
    }

    .hero-form {
        .hero-form-title {
            font-size: 1.5rem;
            color: $gray-600;
        }

        h1 {
            font-size: 4rem;
        }
    }

    .limited-time-container {
        border-radius: 34px 34px 0 0;
    }

    // .container {
    //     &:after {
    //         position: absolute;
    //         content: ' ';
    //         display: block;
    //         left: -5%;
    //         bottom: -10px;
    //         transform: rotate(2deg);
    //         width: 110%;
    //         height: 50px;
    //         background-color: $white;
    //     }
    // }
}

.accordion {
    .accordion-item {
        button {
            font-weight: bold;
            font-size: 1.2rem;

            i {
                transition: transform 0.2s ease-in-out;
            }

            i.la-check-square {
                color: $black;
                font-size: 1.5rem;
            }

            &[aria-expanded='true'] {
                i.la-chevron-left {
                    transform: rotate(-90deg);
                }
            }

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
    }
}
