.btn-orange {
    background-color: #f6961b;
    border: none;
    color: #fff;
}

.btn-yelp {
    background-color: #c41200;
    border: none;
}

.btn-phone-number {
    font-weight: 600;
    padding: 0.375rem 1rem;
}
