.topbar {
    font-size: 12px;

    a {
        text-decoration: underline;
    }
}

header {
    #menu-header {
        li.nav-item {
            a {
                font-weight: 600;
                font-size: 14px;
                color: $black;
            }

            &:last-child {
                a {
                    color: $secondary;
                }
            }
        }

        li.menu-item-has-children {
            a {
                &:after {
                    font-family: Line Awesome Free;
                    font-weight: 900;
                    display: inline-block;
                    margin-left: 0.5rem;
                    content: '\f107';
                }
            }

            ul {
                li {
                    a {
                        &:after {
                            display: none;
                        }
                    }
                    &:last-child {
                        a {
                            color: $black;
                        }
                    }
                }
            }
        }

        .dropdown-menu {
            min-width: 13rem;
        }
    }

    #menu-mobile {
        border: 1px solid $gray-300;
        li {
            a {
                border-bottom: 1px solid $gray-300;
            }

            &:last-child {
                a {
                    border-bottom: 0;
                }
            }

            ul.sub-menu {
                list-style: none;
                padding-left: 0;

                li {
                    a {
                        border-bottom: 1px solid $gray-100;
                        padding-left: 2rem;
                    }
                }
            }
        }
    }

    button.btn {
        font-size: 30px;
        line-height: 1;
        border: 1px solid $gray-300;
    }
}
